*{
     margin: 0; padding: 0;
     text-decoration: 0;
     box-sizing: border-box;  
     font-family: 'Nunito', sans-serif;   

}

:root{
     --elements: #03C04A;;
}


.grid{
     display: grid;
     grid-template-columns: 100%;
     grid-template-rows: 20% 60% 20%;
}

header{
     width: 100%;
     height: 100%; 
     display: flex;
     font-size: 16px;
}

.innerHeader{
     margin: 10px 10px; 

     display: flex;
     align-items: center;
     height: 60px;
     border-radius: 10px;
}

.ItemInHeader{
     padding: 10px 15px;
     font-size: 20px;
     margin-left: 10px;
}

.MenuBtn{
     height: 60px;
     display: flex;
     align-items: center;
     cursor: pointer;
     margin-left: 40px;
     background-color:  var(--elements);
     border-radius: 20px;
}
.MenuBtn p{
     margin-left: 10px;
     margin-right: 10px;
     color: white;
}
.MenuBtn img{
     margin-left: 10px;
     width: 25px;
}

.SearchContainer{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: 300px;
} 
.SearchBar{
     width: 100%;
     max-width: 400px;
     height: 60px;
     background:  #F8F8FA;
     display: flex;
     align-items: center;
     border-radius: 30px;  
     border: solid #03C04A  1px;   
     padding-left: 10px;
}
.SearchBar input{
     background: transparent;     
     border: 0;
     outline: none;
     margin-left: 20px;
     padding: 24px 10px;
     font-size: 20px;
     font-family: 'Nunito', sans-serif;
     color: #03C04A;
}
::placeholder {
     color: #03C04A;
     font-family: 'Nunito', sans-serif;
}
.SearchBar button img{
     width: 25px;
     height: 25px;         
}
.SearchBar button {
     margin-left: 10px;
     border: 0;
     border-radius: 30%;
     width: 30px;
     height: 30px;
     background: rgba(255, 255, 255, 0.2);
     cursor: pointer;
}

.PersonalCabinet a img {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 50px;
     float: right;
     margin-left: 20px;
}


main{
     min-height: 100vh;
     display: flex;
     align-items: center;
     align-content: center;
     justify-content: center;
}



.slideContainer{
     max-width: 1100px;
     width: 100%;
     background-color: grey;
     border-radius: 25px;
     padding: 40px;
}

.slideContent{
     margin: 0 40px;
     overflow: hidden;
     border-radius: 25px;
}

.card{
     width: 320px;
     border-radius: 25px;
     background-color: white;
}

.imageContent, .cardContent {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px 14px;

}

.imageContent{
     position: relative;
     row-gap: 5px;
     padding: 25px 0;
}

.overlay{
     position: absolute;
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     background-color: #b2d3c2;
     border-radius: 25px 25px 0 25px ;
}

.overlay::before,
.overlay::after {
     content: ' ';
     right: 0;
     bottom: -40px;
     position: absolute;
     height: 40px;
     width: 40px;
     background-color: #b2d3c2;
}
.overlay::after {
     border-radius: 0 25px 0 0;
     background-color: white;
}

.cardImage{
     position: relative;
     height: 150px;
     width: 150px;
     border-radius: 50%;
     background: white;
     padding: 3px;
}

.cardImage .card-img{
     height: 100%;
     width: 100%;
     object-fit: cover;
     border-radius: 50%;
     border: 4px solid solid salmon;
}

.name{
     font-size: 18px;
     font-weight: 500;
     color: #333;
}

.description{
     font-size: 14px;
     color: #707070;
     text-align: center;
}

.btnViewMore{
     border: none;
     font-size: 16px;
     color: white;
     padding: 8px 16px;
     background-color:  #03C04A;
     border-radius: 30px;
     margin: 14px;
     cursor: pointer;
     transition: all 0.3s ease;
}


.swiper-navBtn{
     color: #03C04A;
     transition: color 0.3s ease;
}
.swiper-navBtn:hover{
     color: #5dbb63;
}
.swiper-button-next{
     right: 0;
}
.swiper-button-prev {
     left: 0;
}