*{
     margin: 0; padding: 0;
     text-decoration: 0;
     box-sizing: border-box;  
     font-family: 'Nunito', sans-serif;   

}

:root{
     --elements: #03C04A;;
     --gray-back: #646363;
     --white-10: #F8F8FA;
     --background-items: rgba(255, 255, 255, 0.2);
}

header{
     margin-top: 1%;
     margin-left: 1%;
     margin-right: 1%;
}

.headerContainer{
     display: grid;
     justify-content: center;
     font-size: 18px;
     gap: 100px;
     grid-template-columns:  200px 200px 300px 50px 50px ;
     grid-template-rows: 50px;
     grid-auto-rows: 100px;
}

.Logo img{
     height: 50px;
}

.Menu a{
     width: 100%;
     height: 100%;
     border-radius: 20px;
     background-color: var(--elements);
     display: flex;
     align-items: center;
     align-content: center;
     cursor: pointer;
}

.Menu a img{
     padding-left: 10px;
}

.Menu a p{
     width: 100%;
     text-align: center;
     color: white;
}

.SearchContainer{     
     border-radius: 30px;
     border: solid var(--elements) 1px;
     background: var(--white-10) ;
}

.SearchBar{
     height: 100%;
     width: 100%;
     margin-left: 4%;
     display: flex;
     align-items: center;
     align-content: center;
}
.SearchBar button{
     border: 0;
     border-radius: 30%;
     background: var(--background-items);
     cursor: pointer;
}
.SearchBar button img{
     width: 30px;
     height: 30px;
}
.SearchBar input{
     width: 70%;
     background: transparent;   
     border: 0;
     outline: none;
     margin-left: 20px;
     font-family: 'Nunito', sans-serif;
     color: var(--elements);
     font-size: 14px;
}
::placeholder {
     color: var(--elements);
     font-family: 'Nunito', sans-serif;
     font-size: 14px;
}

.ShoppingCart a{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     width: 100%;
}

.ShoppingCart a img{
     height: 40px;
}

.Profile a{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     width: 100%;
}


.Profile a img{
     height: 40px;
}


main{
     min-height: 100vh;
     display: flex;
     align-items: center;
     align-content: center;
     justify-content: center;
}



.slideContainer{
     max-width: 1100px;
     width: 100%;
     background-color: grey;
     border-radius: 25px;
     padding: 40px;
}

.slideContent{
     margin: 0 40px;
     overflow: hidden;
     border-radius: 25px;
}

.card{
     width: 320px;
     border-radius: 25px;
     background-color: white;
}

.imageContent, .cardContent {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px 14px;

}

.imageContent{
     position: relative;
     row-gap: 5px;
     padding: 25px 0;
}

.overlay{
     position: absolute;
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     background-color: #b2d3c2;
     border-radius: 25px 25px 0 25px ;
}

.overlay::before,
.overlay::after {
     content: ' ';
     right: 0;
     bottom: -40px;
     position: absolute;
     height: 40px;
     width: 40px;
     background-color: #b2d3c2;
}
.overlay::after {
     border-radius: 0 25px 0 0;
     background-color: white;
}

.cardImage{
     position: relative;
     height: 150px;
     width: 150px;
     border-radius: 50%;
     background: white;
     padding: 3px;
}

.cardImage .card-img{
     height: 100%;
     width: 100%;
     object-fit: cover;
     border-radius: 50%;
     border: 4px solid solid salmon;
}

.name{
     font-size: 18px;
     font-weight: 500;
     color: #333;
}

.description{
     font-size: 14px;
     color: #707070;
     text-align: center;
}

.btnViewMore{
     border: none;
     font-size: 16px;
     color: white;
     padding: 8px 16px;
     background-color:  #03C04A;
     border-radius: 30px;
     margin: 14px;
     cursor: pointer;
     transition: all 0.3s ease;
}


.swiper-navBtn{
     color: #03C04A;
     transition: color 0.3s ease;
}
.swiper-navBtn:hover{
     color: #5dbb63;
}
.swiper-button-next{
     right: 0;
}
.swiper-button-prev {
     left: 0;
}